.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.december-theme {
    color: red;
}
.november-theme {
    color: orange;
}
.october-theme {
    color: purple;
}
h1.nonselected-theme {
    color: black;
}
